body{
    background: #eee;
}

td, th{
    color: #000;
    border: solid 1px #222;
    padding: 2px;
    text-align: center;
}

th{
    color: #fff;
    background: #025;
}
tr.dny{
    background: #0ce;
}
td.lastnext{
    color: #999;
    
}
